In [1]:
import pandas as pd

In [4]:
filepath = "C:/Users/Angelo/Desktop/GitHub/Python-HomeworkPyBank/budget_data.csv"
df = pd.read_csv(filepath)
df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [18]:
net_profit = df["Profit/Losses"].sum()

In [19]:
months = df["Date"].count()

In [20]:
df["Changes"] = df["Profit/Losses"].diff()
average = df["Changes"].mean()
avg = round(average, 2)

In [21]:
mini = df.Changes.min()

In [22]:
mask = df.Changes ==df.Changes.min()
greatest_loss = df.loc[mask].Date

In [23]:
maxi = df.Changes.max()

In [24]:
print(maxi)

1926159.0

In [25]:
mask- df.Changes ==df.Changes.max()
greatest_increase = df.loc[mask].Date

In [27]:
print("Financial Analysis")
print("---------------------------------")
print("Total Months: " + str(months))
print("Net Profit: "+ str(net_profit))
print("Average Monthly Change: " + str(avg))
print("Greatest increase In Profits: " + greatest_increase + " " + str(maxi))
print("Greatest Loss in Profits: " + greatest_loss+ " " + str(mini))

Financial Analysis
---------------------------------
Total Months: 86
Net Profit: 38382578
Average Monthly Change: -2315.12
44    Greatest increase In Profits: Sep-13 1926159.0
Name: Date, dtype: object
44    Greatest Loss in Profits: Sep-13 -2196167.0
Name: Date, dtype: object